/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.scss to edit this template
*/
/*
    Created on : 21 oct. 2022, 19:03:07
    Author     : IGNACIO
*/
@use 'base/mixins' as m;

.barra {
    display: flex;
    flex-direction: column;
    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo {
        width: 50%;
        margin: 0 auto;
        
        @include m.tablet {
            width: 20rem;
            margin: 0;
        }
    }
}
