/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.scss to edit this template
*/
/*
    Created on : 22 oct. 2022, 12:20:06
    Author     : IGNACIO
*/
@use 'base/variables' as v;
@use 'base/mixins' as m;


.contenido-contacto {
    
    @include m.tablet {
        @include m.grid(2, v.$separacion);
        background-image: url(../img/granos_cafe.jpg);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 40%;
    }   
}

.formulario {

    .campo {
        
        margin-bottom: 2rem;
        
        &:last-of-type {
            margin-bottom: 0;
        }
        
        label {
            text-transform: uppercase;
            display: block;
            font-size: 2.2rem;
            font-weight: 700;
        }
        
        input, select {
            border: .5rem solid v.$primario;
            padding: 1rem;
            width: 100%;
        }
        
        input[type="submit"] {
            background-color: v.$primario;
            color: v.$blanco;
            text-transform: uppercase;
            font-size: 2.2rem;
            font-weight: 700;
            cursor: pointer;
            border: none;
        }
    }
}